# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
*.egg-info/
pip-log.txt
pip-delete-this-directory.txt

# Django files
*.sqlite3
db.sqlite3
*.log
local_settings.py
media/
staticfiles/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode and PyCharm settings
.vscode/
.idea/

# Cache and system files
.DS_Store
Thumbs.db

# Machine Learning/AutoML
*.h5
*.hdf5
*.pkl
*.joblib
*.ckpt
model_weights/
logs/
wandb/
mlruns/
